<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SceneryobjectConversionUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SketchupToOmsi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <SceneryobjectConversionUtility.Properties.Settings>
            <setting name="fullPathOMSI" serializeAs="String">
                <value />
            </setting>
            <setting name="settingsValid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fullPathXconv" serializeAs="String">
                <value />
            </setting>
            <setting name="fullPathBlender" serializeAs="String">
                <value />
            </setting>
            <setting name="fullPathSketchUp" serializeAs="String">
                <value />
            </setting>
            <setting name="filePathSource" serializeAs="String">
                <value />
            </setting>
            <setting name="filePathOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="yUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeTransparency" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prefixTextureNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="friendlyNameFromFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fileNameFromFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="groupsIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="groups1" serializeAs="String">
                <value />
            </setting>
            <setting name="groups2" serializeAs="String">
                <value />
            </setting>
            <setting name="groups3" serializeAs="String">
                <value />
            </setting>
            <setting name="groups4" serializeAs="String">
                <value />
            </setting>
        </SceneryobjectConversionUtility.Properties.Settings>
        <SketchupToOmsi.Properties.Settings>
            <setting name="fullPathOMSI" serializeAs="String">
                <value/>
            </setting>
            <setting name="settingsValid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fullPathXconv" serializeAs="String">
                <value/>
            </setting>
            <setting name="fullPathBlender" serializeAs="String">
                <value/>
            </setting>
            <setting name="fullPathSketchUp" serializeAs="String">
                <value/>
            </setting>
            <setting name="filePathSource" serializeAs="String">
                <value/>
            </setting>
            <setting name="filePathOutput" serializeAs="String">
                <value/>
            </setting>
        </SketchupToOmsi.Properties.Settings>
    </userSettings>
</configuration>
